img{
    width: 75vw;
    margin: auto;
    display: block;
    filter: brightness(0.3);
    transition: 2s;
    height: 50vw;
    border: #33002c solid 4px;
}

img:hover{
    filter: brightness(1.0);
}


.classe{
margin-top: 50px;
margin-bottom: 0;
text-align: center;
font-size: 3vw;
}

